{% load static %}
<li class="card">
    <a href="{% url 'imagem' %}">
        <img class="card__imagem" src="{% static '/assets/imagens/galeria/'%}{{ foto.foto }}" alt="foto">
    </a>
    <span class="card__tag">Estrelas</span>
    <div class="card__info">
        <p class="card__titulo"> {{ foto.nome }}</p>
        <div class="card__texto">
            <p class="card__descricao"> {{ foto.legenda }}</p>
            <span>
                <img src="{% static '/assets/ícones/1x/favorite_outline.png' %}" alt="ícone de coração">
            </span>
        </div>
    </div>
</li>